In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [21]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [22]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [23]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [24]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [28]:
re=grid.cv_results_

grid_predictions = grid.predict(x_test)

from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score valu for best parameter {}:".format(grid.best_params_),r_score)

The R_score valu for best parameter {'criterion': 'mae', 'max_features': 'log2', 'splitter': 'best'}: 0.7723658732411579

In [29]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.012800,0.001600,0.004001,4.768372e-07,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.748499,0.542933,0.776574,0.639136,0.676137,0.676656,0.082988,3
1,0.009600,0.001960,0.004000,7.072638e-07,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.781530,0.674962,0.597530,0.642867,0.682977,0.675973,0.060732,4
2,0.011200,0.006401,0.004801,1.600266e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.660967,0.648266,0.431850,0.563557,0.681152,0.597158,0.091863,14
3,0.009006,0.002684,0.007008,5.298585e-03,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.610436,0.572804,0.509402,0.507206,0.608532,0.561676,0.045599,16
4,0.009407,0.003402,0.004305,6.796139e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.681501,0.709324,0.606703,0.645706,0.600956,0.648838,0.041960,9
5,0.009706,0.001991,0.003902,1.995142e-04,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.815813,0.614158,0.540247,0.557295,0.578328,0.621168,0.100398,13
6,0.049322,0.002892,0.002400,3.199971e-03,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.733342,0.644122,0.603350,0.542034,0.671164,0.638802,0.064241,10
7,0.039202,0.004666,0.004010,1.787306e-05,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.686011,0.693169,0.656745,0.670833,0.685094,0.678370,0.013016,2
8,0.034041,0.003950,0.003002,1.550097e-03,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.710300,0.653688,0.717650,0.596702,0.582152,0.652099,0.055943,8
9,0.026618,0.003140,0.003803,4.008534e-04,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.724327,0.671071,0.511633,0.513879,0.548921,0.593966,0.087362,15
10,0.030621,0.003264,0.003603,4.900773e-04,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.821619,0.660206,0.750357,0.574898,0.622787,0.685973,0.088926,1
11,0.022415,0.001626,0.003603,4.901934e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.739625,0.692877,0.592426,0.696184,0.600811,0.664385,0.057799,6
12,0.008406,0.000491,0.003002,2.861023e-07,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.751607,0.563232,0.776790,0.630492,0.650634,0.674551,0.079115,5
13,0.007205,0.001471,0.003603,4.899210e-04,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.749170,0.660888,0.647193,0.569003,0.663932,0.658037,0.057259,7
14,0.008406,0.001021,0.003603,4.906606e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.735095,0.419226,0.693303,0.613099,0.677560,0.627657,0.111354,12
15,0.006605,0.000490,0.003602,1.201224e-03,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.708470,0.622844,0.659116,0.326237,0.480025,0.559339,0.139180,17
16,0.007404,0.000490,0.003803,4.000188e-04,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.717107,0.545737,0.642846,0.535923,0.700303,0.628383,0.075674,11
17,0.006805,0.000401,0.003602,4.906609e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.541266,0.427190,0.646740,0.597534,0.514248,0.545395,0.074765,18

In [30]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:50
BMI39
children:1
sex Male 0 or 1:1
smoker yes 0 or 1:1

In [31]:
Future_prediction=grid.predict([[age_input,age_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[47462.894]