In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
dataset=pd.read_csv("insurance_pre.csv")
dataset
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [32]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [33]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [34]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [35]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score valu for best parameter {}:".format(grid.best_params_),r_score)

The R_score valu for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9759451338050532

In [36]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.096667,0.003933,0.010809,0.000400,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.838716,0.760051,0.844762,0.807726,0.822009,0.814653,0.030229,12
1,0.868207,0.026290,0.056644,0.006865,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.849910,0.772884,0.850603,0.813353,0.838097,0.824969,0.029323,5
2,0.091892,0.011666,0.014013,0.004523,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.832609,0.764345,0.858486,0.813967,0.820027,0.817887,0.030827,8
3,0.695778,0.031732,0.050636,0.006317,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.858004,0.782618,0.860392,0.828816,0.843328,0.834631,0.028372,1
4,0.081858,0.010115,0.012008,0.002282,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.851234,0.762918,0.849775,0.790952,0.828076,0.816591,0.034558,10
5,0.770771,0.034537,0.048634,0.011525,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.858276,0.776592,0.860952,0.831471,0.842710,0.834000,0.030639,2
6,0.525691,0.048706,0.011309,0.001078,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.835117,0.759873,0.846968,0.822489,0.837946,0.820479,0.031299,7
7,4.699160,0.171659,0.042631,0.003074,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.836750,0.765860,0.844382,0.822309,0.833616,0.820583,0.028267,6
8,0.270502,0.011441,0.012465,0.002711,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.847444,0.748352,0.843720,0.815969,0.832885,0.817674,0.036344,9
9,2.901995,0.425921,0.050836,0.012230,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.854050,0.776178,0.860738,0.828345,0.847680,0.833398,0.030586,3
10,0.297919,0.036139,0.012609,0.004412,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.837420,0.770060,0.836822,0.809440,0.827379,0.816224,0.025200,11
11,3.373867,0.433059,0.047957,0.025563,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.859631,0.782006,0.850305,0.827359,0.842531,0.832366,0.027312,4

In [37]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:32
BMI25
children:2
sex Male 0 or 1:0
smoker yes 0 or 1:0

In [38]:
Future_prediction=grid.predict([[age_input,age_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[5611.4211165]

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(